
 html, body {
    margin: auto;
    padding: 0;
    max-width: 550px;
    text-align: center;
    background-color:  #1C1C1C;
    font-family: sans-serif;
    font: intel;
    margin-top: 50px;
    color: #fff;

}

.main {
    background:  linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    border-style: none;
    border-radius: 5px;
    padding-top: 25px;

}

.container1 {
    color: #fff;
    font-weight: 800;
    padding-bottom: 20px;
}

.container2 {
    background-color: #1F2937;
    padding-top: 10px;
    padding-bottom: 10px;

}

#input-el {
    text-align: center;
    border-radius: 5px;
    border: none;
    font-size: 97.25px;
    font-weight: 800;
    background-color: transparent;
    color: #fff;
    width: 90%;
    outline: none;
}
 
#input-el::placeholder {
    color: #fff;
    transition: color 0.3 ease;
}

#input-el:focus::placeholder {
    color: transparent;
}

h5 {
    font-size: 14px;
    font-weight: 600;
    line-height: 5px;
}
p {
    font-weight: 346;
    font-size: 14px;
    font-style: normal;
    height: 30px;
    border-radius: nullpx;
    color: #D2D2D2;
}
